.left-to-right-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.top-to-bottom-container {
    flex: 1.5 0 0;
    /*width: 100%;
    height: 100%;*/
    display: flex;
    flex-direction: column;
}

.panel, #show-char-btn, #show-invent-btn {
    position: relative;
    margin: 5px;
    height: 50%;

    text-align: center;

    background-color: #fff;
    border-color: #000;
    background-color: var(--color-panel-background);
    border-color: var(--color-panel-border);

    border-width: 2px;
    border-style: solid;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.panel > label:first-child {
    font-size: 2vw;
}

#header-lbl-div {
    position: absolute;
    top: 0;
    display: block;
    width: 100%;
    text-align: center;
}

#title-lbl, #instructions-lbl, #center-lbl {
    position: relative;
    z-index: 10;
    /* TODO - change this when other gui divs are implemented */
    display: block;
    /* white text with black outline */
    color: #fff;
    text-shadow: 2px 0 0 #000, 0 -2px 0 #000, 0 2px 0 #000, -2px 0 0 #000;
    color: var(--color-text-title);
    text-shadow: 2px 0 0 var(--color-text-title-shadow), 0 -2px 0 var(--color-text-title-shadow), 0 2px 0 var(--color-text-title-shadow), -2px 0 0 var(--color-text-title-shadow);
    /* make the label unselectable */
    pointer-events: none;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

#title-lbl {
    font-size: 4vw;/*3em;*/
}

#instructions-lbl {
    font-size: 2vw;/*1.5em;*/
}

#center-lbl {
    visibility: hidden;
    z-index: 15;
    position: absolute;
    font-size: 4vm;/*3em;*/
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#center-lbl .spinner {
    display: inline-block;
    width: auto;
    height: 100%;
}

.spinner {
    /* https://www.w3schools.com/howto/howto_css_loader.asp */
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.fade-in {
    animation: fade-in 2s ease-in-out;
    visibility: visible;
}

@keyframes fade-in {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.fade-out {
    animation: fade-out 2s ease-in-out;
    visibility: hidden;
}

@keyframes fade-out {
    0% { opacity: 1; visibility: visible; }
    100% { opacity: 0; }
}

.fade-in-out {
    animation: fade-in-out 2s ease-in-out;
    visibility: hidden;
}

@keyframes fade-in-out {
    0% { opacity: 0; visibility: visible; }
    35% { opacity: 1; }
    65% { opacity: 1; }
    100% { opacity: 0; visibility: hidden; }
}

#modifiers-list {
    z-index: 10;
    display: block;
    position: absolute;
    top: 0;
    left: 0;

    width: 20%;
    max-width: 30%;
    height: auto;
    overflow-y: hidden;

    text-align: left;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.4);
}

.modifiers-list-item {
    width: 100%;
    height: auto;
    display: block;
    overflow: hidden;
    background-image: transparent;
}

.modifiers-name-lbl {
    font-size: 2vw;/*1.5em;*/
    /*color: #000;*/
    float: left;
    clear: left;
    display: inline-block;
    margin-left: 0.33vw;/*0.25em;*/
}

.modifiers-value-lbl {
    font-size: 2vw;/*1.5em;*/
    float: right;
    clear: right;
    display: inline-block;
    margin-right: 0.33vw;/*0.25em;*/
}

.modifiers-desc-lbl {
    font-size: 1.7vw;/*1.25em;*/
    padding-left: 10px;
    /*color: #000;*/
    float: left;
    clear: left;
    display: inline-block;
}

#chat-window-div {
    overflow: hidden;
}

#player-list, #chat-window {
    position: relative;
    display: block;
    text-align: center;
    overflow-y: auto;
    overflow-x: hidden;
    max-width: 100%;
}

#chat-window {
    display: flex;
    position: absolute;
    flex-direction: column;
    overflow: hidden;

    bottom: 0;
    width: 100%;
    height: auto;    /* TODO - Replace this with something better */
    /*padding-left: 10px;
    padding-right: 10px;*/

    text-align: left !important;
    background-color: transparent;/*#bbb;*/
}

.player-list-item {
    font-size: 1.33vw;/*1em;*/
    width: 80%;
    /*background-color: #ff5555;*/
    background-color: #ccc;
    border-color: #cc5555;
    border-radius: 25px;
    border-style: solid;
    border-width: 2px;
    margin-top: 5px;
}

.chat-window-item {
    display: block;
    flex-basis: 0;
    max-width: 100%;

    margin-left: 5px;
    margin-right: 5px;

    font-size: 1vw;/*1.25em;*/
    color: #000;
    overflow-wrap: break-word;
}

#chat-log {
    overflow-y: auto;
}

#chat-input-div {
    display: block;
    position: relative;
    align-self: flex-end;

    width: 100%;
    height: auto;
    min-height: 25px;

    margin: 0 auto;

    border-style: solid;
    border-width: thin;
    border-color: #555;
}

#chat-input {
    position: relative;
    display: block;
    /*flex: 1;*/
    border: none;
    outline: none;

    width: 100%;
    height: 100%;
}

#chat-send-btn {
    display: inline-block;
    float: right;
    font-size: 1.33vw;/*1em;*/
}

#map-div {
    flex: 7 0 0;
    align-self: flex-start;
    height: calc(100% - 10px);
    margin-top: 5px;

    position: relative;
    overflow: hidden;

    border-color: var(--color-panel-border);
    border-width: 2px;
    border-style: solid;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#map-canvas {
    position: absolute;
    z-index: 5;
    width: 100%;
    height: 100%;
}

#hit-canvas {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
}

#toggle-ready-btn {
    z-index: 10;
}

#items-found-div, #drop-item-div, #action-list-container {
    z-index: 10;
    position: absolute;
    bottom: 10px;
    visibility: hidden;

    max-width: 20%;
    max-height: 30%;
    overflow-y: auto;
}

#items-found-div, #drop-item-div {
    right: 10px;
    min-width: 20%;
    min-height: 30%;

    background-color: #fff;
    border-radius: 5px;
}

#items-found-div > span, #drop-item-div > span {
    background-color: #222;
    color: #fff;
    width: 100%;
    height: auto;
    display: block;
    text-align: center;
}

#items-found-div > span > label, #drop-item-div > span > label {
    font-size: 2vw;
}

#action-list-container {
    /*visibility: visible;*/
    overflow-y: auto;
    overflow-x: hidden;

    left: 10px;
    bottom: 10px;
    background-color: #fff !important;

    border-radius: 5px;
}

#action-list, #end-turn-btn {
    visibility: visible;
}

#action-list {
    overflow: visible;
    text-align: center;
}

#action-list > label {
    position: relative;
    animation-name: move-action-list-element;
    animation-duration: 0.5s;
}

@keyframes move-action-list-element {
    from {
        left: -100%;
    }

    to {
        left: 0px;
    }
}

#action-list-container > span {
    width: 100%;
    height: auto;

    display: block;
    float: left;
    background-color: #2b2;
}

#action-list-actions-lbl {
    display: inline;
    float: left;
    margin: 5px;
    color: #fff;
    font-size: 2vw;
}

#action-list-ap-lbl {
    display: inline;
    float: right;
    margin: 5px;
    color: #0000b2;
    font-size: 2vw;
}

#end-turn-btn {
    display: none; /* DISABLED FOR GOOD */

    background-color: #FF8C00;
    text-align: center;
    width: 100%;
    visibility: visible;
    text-decoration: none;

    border: none;
    border-top-style: solid;
    border-top-width: 2px;
    border-right-style: solid;
    border-right-width: 2px;
}

#end-turn-btn:hover {
    background-color: #ffa500;
}

#end-turn-btn:active {
    background-color: #ffd700;
}

#end-turn-btn:disabled {
    background-color: #777777;
}

.item-found-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    max-height: 100%;
}

#attack-char-div {
    z-index: 10;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;

    min-width: 15%;
    margin: 5px;
    height: 50%;

    text-align: center;
    background-color: #fff;

    border-width: 2px;
    border-style: solid;
    border-color: #000;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#attack-char-cancel-btn {
    display: inline-block;
    float: right;
    width: 32px;
    height: 32px;
    background-color: transparent;
    background-image: url("assets/Cross (512x512).png");
    background-repeat: no-repeat;
    background-size: 32px 32px;
    border: none;
}

#tooltip-div {
    /* show over everything */
    z-index: 100;
    /* position by tile being hovered */
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    text-align: center;

    min-width: 10%;
    overflow: hidden;
    visibility: hidden;
    background-color: rgba(255, 255, 255, 0.6);

    /* make the div unselectable */
    pointer-events: none;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

#tile-action-list, #item-action-list, #dropdown-div {
    z-index: 20;
    /* position by tile being hovered */
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    text-align: center;

    min-width: 10%;
    overflow: hidden;
    visibility: hidden;
    background-color: rgba(255, 255, 255, 0.6);
}

#tooltip-div label, #tile-action-list button, #item-action-list button, #dropdown-div button {
    text-align: center;
    font-size: 1.6vw;/*1.2em;*/
    display: block;
    padding-left: 5px;
    padding-right: 5px;
    border-style: none;
    background-color: transparent;
}

#tile-action-list button:hover, #item-action-list button:hover, #dropdown-div button:hover {
    color: #008000;
}

#tile-action-list button:active, #item-action-list button:active, #dropdown-div button:active {
    color: #0000cc;
}

#char-img, #attack-char-img {
    max-width: 80%;
    max-height: 80%;
    position: relative;
    top: 0px;
    right: -50%;
}

.limb-btn {
    position: absolute;
    display: block;
    width: 5vw;/*100px;*/
    height: 2vw;/*30px;*/

    background: none;
    border: none;
    cursor: pointer;
    margin: 0px;
    padding: 0px;
}

.limb-btn > div:first-child {
    position: relative;
    display: block;
    cursor: pointer;
    width: 100%;
    height: 100%;
    background-color: rgba(10, 10, 10, 0.9);

    /*-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;*/
	padding: 2px;
	box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.limb-btn > div:first-child > span {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;

    /*-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;*/
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;

    background-color: rgba(43, 194, 83, 0.9);
    background-color: var(--color-health-bar-high);
    box-shadow:
        inset 0 2px 9px  rgba(255, 255, 255, 0.3),
        inset 0 -2px 6px rgba(0, 0, 0, 0.4);
    position: relative;
    overflow: hidden;
}

.limb-btn > div:first-child > label {
    position: absolute;
    text-align: center;
    left: 0;
    top: 0;
    width: 100%;
    font-size: 1.5vw;
    color: #0040ff;
}

.limb-btn > label {
    display: block;
    /*height: 50%;*/
    color: #0040ff;
    background-color: rgba(5, 5, 5, 0.9);
    font-size: 0.67vw;/*0.5em;*/
}

#total-hp-bar {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;

    background-color: rgba(21, 194, 41, 1.0);
    background-color: var(--color-health-bar-high-background);
}

.limb-btn-hp-bar-injured {
    background-color: rgba(204, 0, 0, 0.9) !important;
}

.blood-splat-img {
    z-index: 20;
    position: absolute;
    display: block;
    width: 100px;
    height: auto;
    visibility: hidden;
}

#blood-triangle-top-left {
    z-index: 20;
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    background: linear-gradient(to top left, transparent 0%, transparent 50%, rgba(104, 0, 0, 0) 50%, #680000 100%);
}

#blood-triangle-top-right {
    z-index: 20;
    position: absolute;
    top: 0;
    right: 0;
    visibility: hidden;
    background: linear-gradient(to top right, transparent 0%, transparent 50%, rgba(104, 0, 0, 0) 50%, #680000 100%);
}

#blood-triangle-bottom-left {
    z-index: 20;
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
    background: linear-gradient(to bottom left, transparent 0%, transparent 50%, rgba(104, 0, 0, 0) 50%, #680000 100%);
}

#blood-triangle-bottom-right {
    z-index: 20;
    position: absolute;
    bottom: 0;
    right: 0;
    visibility: hidden;
    background: linear-gradient(to bottom right, transparent 0%, transparent 50%, rgba(104, 0, 0, 0) 50%, #680000 100%);
}

.blood-splat-dissappear {
    visibility: visible;
    animation: blood-splat-dissappear 5s ease-in;
}

@keyframes blood-splat-dissappear {
    0% {
        visibility: visible;
        opacity: 1;
    }

    100% {
        visibility: hidden;
        width: 0%;
        height: 0%;
        opacity: 0;
    }
}

#invent-div {
    overflow-y: auto;
    overflow-x: hidden;
}

.invent-grid {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    background-color: rgb(180, 180, 180);
}

.invent-column {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    flex: 1 0 0;
}

.invent-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.invent-slot {
    flex: 1 0 0;
    min-height: 1px;
    width: 30%;

    background-color: rgb(180, 180, 180);
    overflow: hidden;
    vertical-align: bottom;
    position: relative;

    /* prevent double borders */
    margin-right: -1px;
    margin-bottom: -1px;

    border-width: 1px;
    border-style: solid;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.invent-slot:before {
    content: "";
    padding-top: 100%;
    display: inline-block;
}

.invent-slot:first-child, .invent-slot-joined-left {
    border-left-style: none;
    padding-left: 1px;
}

.invent-slot:last-child, .invent-slot-joined-right {
    border-right-style: none;
    padding-right: 1px;
}

.invent-slot-drop-hover {
    background-color: #f00;
}

.invent-item-img {
    vertical-align: bottom;
    position: absolute;
}

#full-overlay {
    z-index: 50;
    visibility: hidden;

    display: block;
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;

    background-color: rgba(0, 0, 0, 0.5);
}

#left-tab, #right-tab {
    display: none;
    font-size: 2.67vw;/*2em;*/
}

#show-invent-btn, #show-char-btn {
    display: none;
}

@media only screen and (max-width: 1000px) {
    #char-div, #show-invent-btn {
        display: none;
    }

    #invent-div, #show-char-btn {
        display: block;
    }

    #invent-div, #char-div {
        height: 90%;
    }

    #show-invent-btn, #show-char-btn {
        height: 10%;
    }

    #left-panel {
        z-index: 15;
        position: fixed;
        left: -100%;
        height: 100%;
        width: 30%;

        background-color: #fff;

        transition: left 0.5s;
        -webkit-transtion: left 0.5s;
    }

    #right-panel {
        z-index: 15;
        position: fixed;
        right: -100%;
        height: 100%;
        width: 30%;

        background-color: #fff;

        transition: right 0.5s;
        -webkit-transtion: right 0.5s;
    }

    #left-tab {
        z-index: 15;
        position: fixed;
        left: 0px;
        top: 50%;
        transform: translateY(-50%);
        display: block;
    }

    #right-tab {
        z-index: 15;
        position: fixed;
        right: 0px;
        top: 50%;
        transform: translateY(-50%);
        display: block;
    }

    #left-panel:hover, #left-tab:hover ~ #left-panel {
        left: 0px;
    }

    #right-panel:hover, #right-tab:hover ~ #right-panel {
        right: 0px;
    }
}
