html {
    /* General hue variables */
    --hue-background: 0;
    --hue-green: 125;
    --hue-red: 300;

    /* Variables for light theme */
    --color-page-background: hsl(var(--hue-background), 0%, 85%);
    --color-panel-background: hsl(var(--hue-background), 0%, 90%);
    --color-panel-border: hsl(var(--hue-background), 0%, 10%);

    /* Text coloring */
    --color-text-general: hsl(var(--hue-background), 0%, 12.5%);
    --color-text-title: hsl(var(--hue-background), 0%, 100%);
    --color-text-title-shadow: hsl(var(--hue-background), 0%, 0%);

    /* Health bar coloring */
    --color-health-bar-high: hsl(var(--hue-green), 65%, 60%);
    --color-health-bar-high-background: hsl(var(--hue-green), 80%, 40%);
}

html[data-theme="dark"] {
    /* Variables for dark theme */
    --color-page-background: hsl(var(--hue-background), 0%, 15%);
    --color-panel-background: hsl(var(--hue-background), 0%, 10%);
    --color-panel-border: hsl(var(--hue-background), 0%, 40%);

    /* Text coloring */
    --color-text-general: hsl(var(--hue-background), 0%, 60%);
    --color-text-title: hsl(var(--hue-background), 0%, 0%);
    --color-text-title-shadow: hsl(var(--hue-background), 0%, 60%);

    /* Health bar coloring */
    --color-health-bar-high: hsl(var(--hue-green), 65%, 60%);
    --color-health-bar-high-background: hsl(var(--hue-green), 80%, 40%);
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: #eee;
    background-color: var(--color-page-background);
}

body {
    /* text font */
    font-style: normal;
    font-size: 1.33vw;/*1em;*/
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    color: #222;
    color: var(--color-text-general);
}

h1, label, button, p {
    font-size: 2.67vw;/*2em;*/
}

.center-center {
    /* center horizontally and vertically */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
}
