.main-menu {
    /* center horizontally */
    position: relative;
    margin: 0 auto;

    min-width: 10%;
    max-width: 30%;
}

.main-menu > h1 {
    font-size: 2.5em;
    text-align: center;
    margin: 10px;
}

.menu-lbl {
    display: inline-block;
    float: left;
    /* TODO - make this relative to size */
    font-size: 20px;
}

.menu-item {
    /* center horizontally and display each on new line */
    margin: 0 auto;
    display: block;

    /* fit to parent */
    width: 100%;

    /* TODO - make this relative to size */
    font-size: 20px;

    /* fixes size issue caused by borders and padding */
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.error-lbl {
    /* changed to inline programatically if error occurs */
    display: none;
    float: none;
    height: auto;

    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border-style: solid;

    /* TODO - make this relative to size */
    font-size: 20px;
    color: #ff4444;
    text-align: center;
}

/* Thanks https://stackoverflow.com/questions/826782/how-to-disable-text-selection-highlighting */
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
       -webkit-user-select: none; /* Safari */
        -khtml-user-select: none; /* Konqueror HTML */
          -moz-user-select: none; /* Firefox */
           -ms-user-select: none; /* Internet Explorer/Edge */
               user-select: none; /* Non-prefixed version, currently
                                     supported by Chrome and Opera */
}



#guest-name-input {
    float: right;
    border-color: transparent;
    border-radius: 0px !important;
    border-bottom-style: solid !important;
    border-bottom-width: 2px;
    border-bottom-color: #fff;
    background-color: #444;
    color: #fff;
    text-align: center;
    outline: none;
    margin-right: 10px;
}



#create-lobby-div {
    border-radius: 15px;
    background-color: #fff;
    overflow: auto;
}

#create-lobby-div > a {
    display: block;
    height: 30px;
    text-decoration: none;

    color: #fff;
    background-color: #2b2;
    font-size: 1.5em;
    text-align: center;
}

#create-lobby-div > a:hover {
    color: #55f;
}

#create-lobby-div > a:active {
    color: #00f;
}

#create-lobby-div > a.active + div {
    display: block;
}

#create-lobby-div > div {
    display: none;
    margin: 15px;
}

#create-lobby-form {
    height: auto;
    display: block;
}

#create-lobby-form > input, #create-lobby-form > button, #guest-name-input {
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border-style: solid;
    height: auto;
}

#create-lobby-form > button:hover {
    background-color: #aaf;
}

#create-lobby-form > button:active {
    background-color: #afa;
}

#password-input {
    display: none;
}

#is-password-protected-input:checked ~ #password-input {
    display: block !important;
}




.lobby-container {
    display: none;
    margin-top: 15px;
    border-radius: 15px;
    background-color: #fff;
    overflow: hidden;
}

.lobby-container > span {
    display: block;
    width: 100%;

    color: #fff;
    background-color: #666;
    font-size: 1.5em;
    text-align: center;
}

.lobby-container > div {
    overflow: auto;
}

.lobby-element {
    display: block;
    width: 100%;
    height: 100%;

    color: #000;
    background-color: #fff;
    text-align: center;
    overflow: hidden !important;
    white-space: nowrap;
}

.lobby-btn:not(:last-child) > .lobby-element {
    border-bottom: 1px;
    border-bottom-style: inset;
}

.lobby-element > label {
    margin-top: 5px;
    margin-bottom: 5px;
    text-overflow: ellipsis;
}

/* Name Label */
.lobby-element > label:first-child {
    float: left;
    margin-left: 10px;
}

/* Player count label */
.lobby-element > label:last-child {
    float: right;
    margin-right: 10px;
}

.lobby-btn {
    background-color: transparent;
}

.lobby-btn:hover > div {
    background-color: #aaf;
}

.lobby-btn:active > div {
    background-color: #afa;
}
